.bgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #20272d;
}

header, footer {
  height: 9vh;
  width: 90%;
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.headerIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.footerContainer{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footerContainer .footerIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: 10px;
}

.footerContainer .inputDiv {
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.footerContainer .inputDiv input {
  align-self: center;
  height: 25px;
  border-radius: 5px;
}

.footerContainer .inputDiv span {
  margin: 3px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}


.bgRed {
  background-color: red;
}

.bgGreen {
  background-color: rgb(34, 204, 0);
}